@charset "UTF-8";
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/FontAwesome.eot?") format("eot"), url("../fonts/FontAwesome/FontAwesome.woff2") format("woff2"), url("../fonts/FontAwesome/FontAwesome.woff") format("woff"), url("../fonts/FontAwesome/FontAwesome.ttf") format("truetype"), url('../fonts/FontAwesome/FontAwesome.svg#str-replace("FontAwesome", " ", "_")') format("svg");
}
body {
  background-color: #FFFFFF;
  /* Change the font of the titles */
}
body h1, body h2, body h3, body h4, body h5, body h6, body .lead {
  font-family: 'Chivo', sans-serif;
}

#main-header {
  position: relative;
}
#main-header #logo a {
  display: block;
  height: 228px;
  width: 200px;
  text-indent: -9999px;
  background: transparent url("../img/logo.png") no-repeat 0 0;
  margin: 0 auto;
}

#main-footer {
  margin: 10px 0px;
}

.donate-now label, .donate-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.donate-now input[type="radio"]:checked + label,
.Checked + label {
  background: yellow;
}

.donate-now label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.donate-now label:hover {
  background: #DDD;
}

#genre-selection ul {
  padding-left: 0px;
}
#genre-selection .genre {
  height: 140px;
  margin-bottom: 15px;
  border: none;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  float: left;
  position: relative;
}
#genre-selection .genre label, #genre-selection .genre input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#genre-selection .genre label {
  cursor: pointer;
  z-index: 90;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center 30px;
  transition: background-color .15s ease;
  padding-top: 5px;
  border-radius: 500px;
}
#genre-selection .genre label:hover, #genre-selection .genre label:active {
  background-color: #1ed760;
}
#genre-selection .genre.playlist label {
  background-position: center 50px;
  padding: 5px 30px 0px 30px;
}
#genre-selection .genre input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}
#genre-selection .genre input[type="radio"]:checked + label, #genre-selection .genre .Checked + label {
  background-color: #2ebd59;
}
#genre-selection .genre.seventies label {
  background-image: url("../img/genre-icons/70s.png");
}
#genre-selection .genre.eighties label {
  background-image: url("../img/genre-icons/80s.png");
}
#genre-selection .genre.blues label {
  background-image: url("../img/genre-icons/blues.png");
}
#genre-selection .genre.classical-music label {
  background-image: url("../img/genre-icons/classical-music.png");
}
#genre-selection .genre.country label {
  background-image: url("../img/genre-icons/country.png");
}
#genre-selection .genre.disco label {
  background-image: url("../img/genre-icons/disco.png");
}
#genre-selection .genre.electro label {
  background-image: url("../img/genre-icons/electronic.png");
}
#genre-selection .genre.folk label {
  background-image: url("../img/genre-icons/folk.png");
}
#genre-selection .genre.metal label {
  background-image: url("../img/genre-icons/heavy-metal.png");
}
#genre-selection .genre.jazz label {
  background-image: url("../img/genre-icons/jazz.png");
}
#genre-selection .genre.pop label {
  background-image: url("../img/genre-icons/pop.png");
}
#genre-selection .genre.punk label {
  background-image: url("../img/genre-icons/punk.png");
}
#genre-selection .genre.rap label {
  background-image: url("../img/genre-icons/rap.png");
}
#genre-selection .genre.reggae label {
  background-image: url("../img/genre-icons/reggae.png");
}
#genre-selection .genre.rock label {
  background-image: url("../img/genre-icons/rock.png");
}
#genre-selection .genre.soundtrack label {
  background-image: url("../img/genre-icons/soundtrack.png");
}

#quiz .genre {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}
#quiz #counter {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0px;
}
#quiz .questions {
  display: block;
}
#quiz .questions > div {
  position: relative;
}
#quiz .questions button {
  display: block;
  width: 100%;
  padding: 0px;
  margin-bottom: 30px;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border: none;
  outline: 10px solid transparent;
  /* &:hover, &:active {
      outline: 10px solid $green-light;
  } */
}
#quiz .questions button img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.score {
  font-size: 1.5em;
  text-align: center;
}
.score span {
  font-weight: bold;
  font-size: 2em;
  position: relative;
  top: 8px;
}

/*Buttons*/
.button {
  max-width: 300px;
  min-width: 130px;
  line-height: 1.5;
  padding: 7px 35px 7px;
  margin: 0px 5px;
  border-radius: 500px;
  border-width: 0;
  border: 1px solid transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #2ebd59;
  background-image: none;
  transition: background-color .15s ease,border-color .15s ease,color .15s ease;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
}
.button:active, .button:focus {
  outline: none;
  text-decoration: none;
  color: white;
}
.button:hover {
  background-color: #1ed760;
  text-decoration: none;
  color: white;
}
.button.user-button img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 500px;
}

#spotifyAuthentication, #myProfile {
  position: absolute;
  top: 0px;
  right: 0px;
}

#concertsNearYou td {
  vertical-align: middle;
}
#concertsNearYou td img {
  height: 50px;
}
#concertsNearYou td .button {
  width: 170px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
}

#tracksPlayed td:nth-last-child(1), #tracksPlayed th:nth-last-child(1) {
  width: 385px;
}

#concertsNearYou td:nth-last-child(1), #concertsNearYou th:nth-last-child(1) {
  width: 200px;
}
#concertsNearYou td:nth-last-child(2), #concertsNearYou th:nth-last-child(2) {
  width: 135px;
}

@media (max-width: 767px) {
  #main-header #logo a {
    background-image: url("../img/logo-mobile.png");
    width: 300px;
    height: 84px;
  }

  #myProfile, #spotifyAuthentication {
    top: -15px;
    right: -15px;
  }

  #myProfile {
    text-indent: -9999px;
    min-width: initial;
    width: 40px;
    height: 40px;
    padding: 0px 0px;
  }
  #myProfile:before {
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #FFFFFF;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 6px;
    left: 13px;
  }
  #myProfile:before {
    text-indent: 0px;
  }

  #spotifyAuthentication {
    text-indent: -9999px;
    min-width: initial;
    width: 40px;
    height: 40px;
    padding: 0px 0px;
  }
  #spotifyAuthentication:before {
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #FFFFFF;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 6px;
    left: 11px;
  }
  #spotifyAuthentication:before {
    text-indent: 0px;
  }
}
