$site-background-color: #FFFFFF;
$green-light:#1ed760;
$green-dark: #2ebd59;
$desktop-width: 1024px;
$tablet-width: 768px;

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin rounded($radius: 500px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin icon($code, $color, $size, $position-left, $position-top) {
    &:before {
        content: $code;
        font-family: "FontAwesome";
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $color;
        font-size: $size;
        padding-right: 0.5em;
        position: absolute;
        top: $position-top;
        left: $position-left;
    }
}

@include font-face('FontAwesome', '../fonts/FontAwesome/FontAwesome');

body {
    background-color:$site-background-color;
    
    /* Change the font of the titles */
    h1, h2, h3, h4, h5, h6, .lead {
        font-family: 'Chivo', sans-serif;
    }
}

#main-header {
    position:relative;
    #logo a {
        display:block;
        height:228px;
        width:200px;
        text-indent:-9999px;
        background: transparent url("../img/logo.png") no-repeat 0 0;
        margin:0 auto;
    }
}

#main-footer {
    margin:10px 0px;
}

.donate-now label, .donate-now input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.donate-now input[type="radio"]:checked + label,
.Checked + label {
    background:yellow;
}

.donate-now label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
}

.donate-now label:hover {
     background:#DDD;
}

#genre-selection {
    
    ul {
        padding-left:0px;
    }
    
    .genre {
        
        height:140px;
        margin-bottom:15px;
        border:none;
        text-decoration:none;
        list-style-type:none;
        padding:0;
        float:left;
        position:relative;
        
        
        label, input {
            display:block;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
        
        label {
            cursor:pointer;
            z-index:90;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-decoration: none;
            white-space: normal;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color:transparent;
            background-repeat:no-repeat;
            background-position:center 30px;
            transition: background-color .15s ease;
            padding-top:5px;
            
            @include rounded;
            
            &:hover, &:active {
                background-color:$green-light;
            }
        }
        
        &.playlist label {
            background-position:center 50px;
            padding: 5px 30px 0px 30px;
        }
        
        input[type="radio"] {
            opacity:0.01;
            z-index:100;
        }
        
        input[type="radio"]:checked + label, .Checked + label {
            background-color:$green-dark;
        }
        
        &.seventies label {
            background-image: url("../img/genre-icons/70s.png");
        }
        
        &.eighties label {
            background-image: url("../img/genre-icons/80s.png");
        }
        
        &.blues label {
            background-image: url("../img/genre-icons/blues.png");
        }
        
        &.classical-music label {
            background-image: url("../img/genre-icons/classical-music.png");
        }
        
        &.country label {
            background-image: url("../img/genre-icons/country.png");
        }
        
        &.disco label {
            background-image: url("../img/genre-icons/disco.png");
        }
        
        &.electro label {
            background-image: url("../img/genre-icons/electronic.png");
        }
        
        &.folk label {
            background-image: url("../img/genre-icons/folk.png");
        }
        
        &.metal label {
            background-image: url("../img/genre-icons/heavy-metal.png");
        }
        
        &.jazz label {
            background-image: url("../img/genre-icons/jazz.png");
        }
        
        &.pop label {
            background-image: url("../img/genre-icons/pop.png");
        }
        
        &.punk label {
            background-image: url("../img/genre-icons/punk.png");
        }
        
        &.rap label {
            background-image: url("../img/genre-icons/rap.png");
        }
        
        &.reggae label {
            background-image: url("../img/genre-icons/reggae.png");
        }
        
        &.rock label {
            background-image: url("../img/genre-icons/rock.png");
        }
        
        &.soundtrack label {
            background-image: url("../img/genre-icons/soundtrack.png");
        }
    }
}

#quiz {
    .genre {
        text-align:center;
        font-weight:bold;
        font-size:2em;
        text-transform:uppercase;
    }
    
    #counter {
        font-size:1.5em;
        text-align:center;
        margin-bottom: 0px;
    }
    
    .questions {
        display:block;
        
        > div {
            position:relative;
        }
        
        button {
            display:block;
            width:100%;
            padding:0px;
            margin-bottom:30px;
            padding-top:100%;
            position:relative;
            overflow:hidden;
            border:none;

            outline: 10px solid transparent;

            /* &:hover, &:active {
                outline: 10px solid $green-light;
            } */
            
            img {
                height:100%;
                width:100%;
                position:absolute;
                top:0px;
                left:0px;
            }
        }
    }
}

.score {
    font-size:1.5em;
    text-align:center;
    
    span {
        font-weight:bold;
        font-size:2em;
        position:relative;
        top:8px;
    }
}

/*Buttons*/
.button {
    max-width:300px;
    min-width: 130px;
    line-height: 1.5;
    padding: 7px 35px 7px;
    margin: 0px 5px;
    @include rounded;
    border-width: 0;
    border: 1px solid transparent;
    display:inline-block;
    
    font-size: 14px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    
    background-color: $green-dark;
    background-image: none;
    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
    
    touch-action: manipulation;
    cursor: pointer;
    
    &:active, &:focus {
        outline:none;
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color:$green-light;
        text-decoration:none;
        color:white;
    }
    
    &.user-button {
        img {
            width:40px;
            height:40px;
            margin-right: 10px;
            border-radius: 500px;
        }
    }
}

#spotifyAuthentication, #myProfile {
    position:absolute;
    top:0px;
    right:0px;
}

#concertsNearYou {
    td {
        vertical-align: middle;

        img {
            height: 50px;
        }

        .button {
            width:170px;
        }
    }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

#tracksPlayed {
    td:nth-last-child(1), th:nth-last-child(1) {
        width: 385px;               
    }
}

#concertsNearYou {
    td:nth-last-child(1), th:nth-last-child(1) {
        width: 200px;               
    }
    td:nth-last-child(2), th:nth-last-child(2) {
        width: 135px;               
    }
}

@include mobile {
    #main-header #logo a {
        background-image: url("../img/logo-mobile.png");
        width: 300px;
        height: 84px;
    }

    #myProfile, #spotifyAuthentication {
        top: -15px;
        right: -15px;
    }

    #myProfile {
        text-indent: -9999px;
        @include icon("\f08b", #FFFFFF, 18px, 13px, 6px);

        min-width: initial;
        width: 40px;
        height: 40px;
        padding: 0px 0px;

        &:before {
            text-indent: 0px;
        }
    } 
    
    #spotifyAuthentication {
        text-indent: -9999px;
        @include icon("\f090", #FFFFFF, 18px, 11px, 6px);

        min-width: initial;
        width: 40px;
        height: 40px;
        padding: 0px 0px;

        &:before {
            text-indent: 0px;
        }
    }
};