<div class="gameInstructions">  
    <p class="lead">Music Quiz is a game where you have to select the album covers related to the music you listen to.<br/>
    You start the music quiz with one and a half minute.<br/>
    Every correct answer give you three more seconds and every wrong answer minus one second.<br/>
    The goal is to obtain the most correct answers before the timer ends.<br/>
    <strong>Good luck !!</strong></p>
    <p>When you are ready, press the button bellow to start the quiz.</p>
    <div class="text-center"><button type="button" class="button" >Start the quiz</button><a href="index.html" class="button">Back</a></div>
</div>