<section id="genre" class="container">
    <header class="row">
        <div class="col-md-12">
            <h2 class="text-center">What kind of music do you like to listen ?</h2>
        </div>
    </header>
    <form id="genre-selection">
        <ul class="row">
            <li class="col-md-3 col-xs-6 genre seventies">
                <input type="radio" id="seventies" value="70s" name="genre" />
                <label for="seventies">Seventies</label>
            </li>
            <li class="col-md-3 col-xs-6 genre eighties">
                <input type="radio" id="eighties" value="80s" name="genre" />
                <label for="eighties">Eighties</label>
            </li>
            <li class="col-md-3 col-xs-6 genre blues">
                <input type="radio" id="blues" value="blues" name="genre" />
                <label for="blues">Blues</label>
            </li>
            <li class="col-md-3 col-xs-6 genre classical-music">
                <input type="radio" id="classical-music" value="classical" name="genre" />
                <label for="classical-music">Classical</label>
            </li>
            <li class="col-md-3 col-xs-6 genre country">
                <input type="radio" id="country" value="country" name="genre" />
                <label for="country">Country</label>
            </li>
            <li class="col-md-3 col-xs-6 genre disco">
                <input type="radio" id="disco" value="disco" name="genre" />
                <label for="disco">Disco</label>
            </li>
            <li class="col-md-3 col-xs-6 genre electro">
                <input type="radio" id="electro" value="electro" name="genre" />
                <label for="electro">Electro</label>
            </li>
            <li class="col-md-3 col-xs-6 genre folk">
                <input type="radio" id="folk" value="folk" name="genre" />
                <label for="folk">Folk</label>
            </li>
            <li class="col-md-3 col-xs-6 genre metal">
                <input type="radio" id="metal" value="metal" name="genre" />
                <label for="metal">Metal</label>
            </li>
            <li class="col-md-3 col-xs-6 genre jazz">
                <input type="radio" id="jazz" value="jazz" name="genre" />
                <label for="jazz">Jazz</label>
            </li>
            <li class="col-md-3 col-xs-6 genre pop">
                <input type="radio" id="pop" value="pop" name="genre" />
                <label for="pop">Pop</label>
            </li>
            <li class="col-md-3 col-xs-6 genre punk">
                <input type="radio" id="punk" value="punk" name="genre" />
                <label for="punk">Punk</label>
            </li>
            <li class="col-md-3 col-xs-6 genre rap">
                <input type="radio" id="rap" value="rap" name="genre" />
                <label for="rap">Rap</label>
            </li>
            <li class="col-md-3 col-xs-6 genre reggae">
                <input type="radio" id="reggae" value="reggae" name="genre" />
                <label for="reggae">Reggae</label>
            </li>
            <li class="col-md-3 col-xs-6 genre rock">
                <input type="radio" id="rock" value="rock" name="genre" />
                <label for="rock">Rock</label>
            </li>
            <li class="col-md-3 col-xs-6 genre soundtrack">
                <input type="radio" id="soundtrack" value="soundtrack" name="genre" />
                <label for="soundtrack">Soundtrack</label>
            </li>
        </ul>
        <div class="text-center row"><input type="submit" value="Confirm" id="confirm-genre" class="button" /></div>
    </form>
</section>