<div id="quiz">
    <p class="genre">{{genre}}</p>
    <p id="counter" style="display:none;"></p>
    <p class="score">Your score : <span id="score">0</span></p>
    <p id="trackTitle"></p>
    <div class="questions">
        
    </div>
    <div class="text-center">
        <button type="button" class="button" id="quitQuiz">Quit</button>
    </div>
</div>