<h2>Scoreboard</h2>
<p class="score">Your score : <span id="score">{{score}}</span></p>
<p class="score">Your best score : <span id="score">{{bestScore}}</span></p>
<!--form id="saveScore">
    <h3>Save your score</h3>
    <input type="text" id="saveScoreName" placeholder="Your name"/>
    <input type="submit" value="Save" class="button" />
</form-->
<h3>List of music you've listened to</h3>
<div class="table-responsive">
    <table id="tracksPlayed" class="table">
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Actions</th>
        </tr>
        {{#each tracksPlayed}}
            <tr>
               <td>{{this.name}}</td>
               <td>{{this.artistName}}</td>
               <td>{{#if @root.auth}}<button class="addPlaylist button" value="{{this.uri}}">Add to playlist</button>{{/if}}<button class="playPreview button" value="{{@key}}">Play</button></td>
            </tr>
        {{/each}}
    </table>
</div>

<div class="text-center">
    <button id="restartQuiz" class="button">Restart the quiz</button>
        <a href="index.html" class="button">Select a new playlist</a>
</div>

<!--h3>Concerts near you</h3> 
<div class="table-responsive">
    <table id="concertsNearYou" class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Location</th>
            <th>Date & Time</th>
            <th>Actions</th>
        </tr>
        {{#each events.event}}
            <tr>
                <td>{{#if this.image.medium.url}}<img src="{{this.image.medium.url}}" alt="{{this.title}}"/>{{/if}}</td>
                <td>{{this.title}}</td>
                <td>{{this.city_name}} - {{this.venue_name}} - {{this.venue_address}}</td>
                <td>{{#formatDate}}{{this.start_time}}{{/formatDate}}</td>
                <td><a class="button" href="{{this.url}}" target="_blank">Book now</a></td>
            </tr>
        {{/each}}
    </table>
</div>
<div class="eventful-badge eventful-small text-center">
  <img src="http://api.eventful.com/images/powered/eventful_58x20.gif"
    alt="Local Events, Concerts, Tickets">
  <p><a href="http://eventful.com/">Events</a> by Eventful</p>
</div-->